.home-page-slogan {
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: 0 auto;
    color: white;
    border: 1px solid cadetblue;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.login-form-object {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.login-form-entry {
    display: flex;
    flex-direction: column;
}

.login-form-label {
    color: white;
}

.login-form-entry input {
    width: 20vw;
    align-self: center;
    border-radius: 8px;
    border: 1px solid gray;
}

.login-form-object button[type="submit"] {
    width: 20vw;
    align-self: center;
    border-radius: 8px;
    background-color: lightgreen;
}

.login-error {
    color: red;
}

.register-text {
    color: #3498db
}

.register-text:hover {
    color: #2980b9
}