.answer-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.25rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    width: 20%;
    height: 50%;
    z-index: 1000;
    padding: 0.25rem;
    background: lightgray;
}

@font-face {
    font-family: 'DIN Bold';
    src: url('../../fonts/DIN Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.answer-box-title {
    font-size: 24px;
    font-family: 'DIN Bold', sans-serif;
}

.answer-box-strikes {
    display: flex;
    flex-direction: row;
}

.answer-box-remaining-guesses {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    padding: 0.25rem;
    font-size: 20px;
    justify-content: space-between;
}

.answer-box-remaining-guesses-icon {
    align-self: center;
}

.answer-box-operator-select {
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.answer-box-form {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.25rem;
}

.answer-box-input-header {
    align-self: start;
}

.answer-box-submit-button {
    margin-top: 1rem;
    padding: 0.25rem;
    background-color: darkgreen;
    border: 1px solid black;
    border-radius: 0.25rem;
    transition: transform 0.2 ease, background-color 0.3s ease;
    width: 75%;
    align-self: center;
}

.answer-box-submit-button-text {
    align-self: center;
}

.answer-box-submit-button:hover {
    background-color: green;
    transform: scale(1.1);
}

.answer-box-result-success {
    color: green;
    font-size: 14px;
    align-self: flex-start;
    padding: 0 0.25rem;
}

.answer-box-result-error {
    color: red;
    font-size: 14px;
    align-self: flex-start;
    padding: 0 0.25rem;
}

.answer-box-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.answer-box-points {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    color: green;
}

.answer-box-points-entry {
    justify-content: space-between;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}
