.answer-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.25rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    width: 20vw;
    height: 50vw;
    z-index: 1000;
    padding: 0.25rem;
    background: lightgray;
}