.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #51c6ab;
    padding: 1rem 2rem;
    height: 7.5vh;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-image {
    width: 200px;
    height: 32px;
}