@font-face {
  font-family: 'DIN';
  src: url('./fonts/DIN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Medium';
  src: url('./fonts/DIN Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: 'DIN Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}
/* you can have custom dimension according to your use case */
